<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoRSideTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LoRSideTracker.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en_us</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="MainWindowShowDebugLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPlayerDeck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPlayerPlayedCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPlayerDrawnCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOpponentPlayedCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDeckStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerDeckLocation" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="PlayerPlayedCardsLocation" serializeAs="String">
                <value>220, 20</value>
            </setting>
            <setting name="PlayerDrawnCardsLocation" serializeAs="String">
                <value>420, 20</value>
            </setting>
            <setting name="OpponentPlayedCardsLocation" serializeAs="String">
                <value>620, 20</value>
            </setting>
            <setting name="DeckTransparency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HideZeroCountInDeck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameHistoryWindowBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="OptionsWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ActiveLogWindowBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="DeckDrawSize" serializeAs="String">
                <value>1</value>
            </setting>
        </LoRSideTracker.Properties.Settings>
    </userSettings>
</configuration>